<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Meowculator</title>
    <style>
        nav a {
            color: #b0c4de;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .meat-type {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Meowculator</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>